:root{
  --x:0;
  --y:0;
}
@keyframes glow{
  0%{
    background-color: rgba( 64, 0, 0, 0.4 );
  }
  50%{
    background-color: rgba( 64, 0, 0, 1 );
  }
  100%{
    background-color: rgba( 64, 0, 0, 0.4 );
  }
}
@keyframes move{
  0%{
    transform: translateX(0px);
  }
  20%{
    transform: translateX(50px);
  }

  40%{
    transform: translateX(100px);
  }

  60%{
    transform: translateX(-100px);
  }
  100%{
    transform: translateX(0px);
  }
}
body{
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
  
}
.mynav.show{
transform: translateY(0px);
opacity: 1;
}

.mynav.hide{
  transform: translateY(-200px);
  opacity: 0;
}
.tour{
  animation: glow 1.5s   infinite reverse;
}
/* .the-vc{
  background-image: url('../public/mau.png');
  background-repeat: no-repeat;
  background-size: contain;
  
} */
/* .indi-news{
  animation: move 8s 2s infinite reverse;
  
} */
.chatHide{
  max-width: 30px;
  max-height: 30px;
  border-radius: 100%;
  clip-path:polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  margin-bottom:0px;
  cursor: pointer;
  transition: all 1s;
  background-color:white ;
}
.chatHide img{
  margin-left: 0px;
  transform: translateX(-10px);
}
.mapouter{
  position:relative;
  text-align:right;
  height:339px;
  width:414px;
}
.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:339px;width:414px;
}
/* body::-webkit-scrollbar{
  background-color:#D07348;
  box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.5);
}

body::-webkit-scrollbar-thumb{
  background: white;
  border-radius: 50px;
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.5);
} */
.mynav.hide{
  top:-105px; 
}

.Footer-Section{
  background-image: url(./assets/mau_pic_footer.jpg);
  background-size: contain;
}
.Footer-Container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}
/* .Footer-Content{
  padding: 20px;
} */

.footerNav a{
  text-decoration: none;
  padding: 15px;
  margin-top: 10px;
  color: black;
}
/* .footerNav{
  margin: 20px;
} */

.footerNav div{
  padding: 5px;
  /* text-align: center; */
}

.Footer-Content-Powered{
  display: grid;
  text-align: center;
  grid-column: 1/4;
  padding: 5px;
  background-color: black;
  color: white;
}
.Location-Img{
  /* text-align: center; */
  margin-top: 0px;
  padding-left:40px ;
}
.Site-Map-Header{
  text-align: center;
}

.Footer-Section a:hover{
  color: #D33232;
}
.Footer-Section h4{
  padding: 15px;
  /* text-align: center; */
  color: #D33232;
}
.lii{
  width: 100%;
  height: 100%;
}
.lii:hover .content2{
  transform: scaleY(1);
  transform: translateX(220px);
    cursor: pointer;
    transform-origin: top;
    bottom:-430px;
    opacity: 1;
    z-index: 200px;
    
  
}
.lii:hover .content3{
  transform: scaleY(1);
  transform: translateX(220px);
    cursor: pointer;
    transform-origin: top;
    bottom:-240px;
    opacity: 1;
  
}

/* NEW LINE OF NIBRASS CSS */

.Main-Container{
  margin: 0px;
  margin-top: 130px;
}
.Cart-Container-Programs{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: whitesmoke;
  margin-bottom: 5px;
}

.Link-Wrapper div{
  padding: 10px;
}
.Link-Wrapper a{
  text-decoration: none;
  padding: 20px;
}
.Apply_section p {
  padding: 10px;
  text-align: justify;
}
.Apply_section span{
  margin: 10px;
  text-align: justify;
  /* font-size: 20px; */
}
h1{
  padding-left: 30px;
}
h2{
  text-align: center;
  color: #ba6438;
}
.Main-Display-Image{
  background-image: url(./assets/student.jpg);
  background-size: cover;
  /* opacity: 0.2; */
  height: 300px;
  width: auto;
  margin-top: 0px;
}
.Main-Display-Image h1{
  color: white;
  padding: 50px 0px 10px 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 60px;
}
.Main-Display-Image p {
  font-size: 25px;
  color: white;
  padding-left: 50px;
}
input[type='search']{
  padding: 13px;
  width: 70%;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #ba6438;
  outline: #ba6438;
}
.Search-Input div{
  margin: 15px;
}
.Expand-Row{
  text-align: center;
  cursor: pointer;
}


/* NIBRASS DETAIL NEWS CSS */
.News-Header{
  display: grid;
  margin: 0 auto;
  width: 80%;
  margin-top: 50px;
}
.News-Title{
  font-size: 30px;
  text-align: center;
  font-weight: bolder;
}
.News-Date{
  padding-top: 10px;
  font-size: 19px;
  color: #b6b6b6;
}
.News-Header h2{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  text-align: left;
}
.News-Content{
  padding: 10px;
}
.News-Content p{
  text-align: justify;
  line-height: 30px;
}

/* NIBRASS ABOUT CSS */



.Mau-Display{
  width: 100%;
  margin-top: 20px;
  height: 75vh;
}
.About-History-Container{
  margin: 0 auto;
 
  /* width: 900px; */
  background-image: url(./assets/mau_pic_footer.jpg);
  background-size: contain;
  /* background-color: teal; */
  /* padding: 15px;
  padding-top: 0px; */

}
.About-History-Container p{
  padding: 15px;
  line-height: 30px;
  text-align: justify;
}
.Logo-Content h3{
  color: black;
}
.School-Name{
  color: black;
}
.H2-Container{
color: white;
background-color: #D07348 ;
padding: 10px;
}
.H2-Container h2{
  color: white;
}
h3{
  color: white;
  text-align: center;
}
.H2-Container-Content{
 padding: 10px;
}
.H2-Container p{
  padding: 20px;
}
.Objectives-Container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
 padding: 20px;
  grid-gap: 20px;
  /* width: 900px; */
}
.Objectives-Container h3{
  font-size: 40px;
}
.Objectives-Container p{
  padding: 10px;
  text-align: justify;
  line-height: 30px;
}
.Objectives-Container-Card{
  background-color: #9F3B3A;
  color: white;
  border-radius:12px;
}
.Objectives-Container-Card2{
  background-color: #FFC53A;
  border-radius:12px;
}
.Objectives-Container-Card3{
  background-color: black;
  color: white;
  border-radius:12px;
}
.Objectives-Container-Card-Core-Values{
  display: grid;
  grid-column: 1/4;
  background-color: #9F3B3A;
  color: white;
  padding: 10px;
  border-radius:12px;
}
dl{
  text-align: justify;
  padding: 10px;
}
.Video_container{
  display: grid;
  grid-column: 1/4;
  width: 100%;
  align-items: center;
}
.Video_container video{
 width: 100%;
  border: 1px solid black;
  height:70vh;
}


